*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    background: url(img/image18.png);
}
.container__block{
    max-width: 1500px;
    margin: auto;
}
.header__block{
    background:#ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 45%);
}
.header__line{
    display: flex;
    justify-content: space-around;
    
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #FF9900;
    max-width: 1440px;
    margin: auto;
}
.export{
    display: flex;
    text-decoration: none;
    align-content: center;
    align-items: center;
}
.export__line::before{
    content:'';
    height: 50px;
    border: 1px solid #FF9900;
}
.export__block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-right: 10px;
    margin-left: 35px;
}
.text__titel{
    font-size: 18px;
    
}
.export__text{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    
}
.export__img{
    width: 25px;
   
}
.phone{
    font-weight: bold;
}
.header__mene{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 18px 0;
}
.haeder__mene__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.img__mene{
    margin-right: 6px;
}
.img__mene__link{
    margin-left: 15px;
}
.orange{
    padding: 4px 17px;
    background: #FF9900;
    border-radius: 10px;
    color:#ffffff;
}
.offer{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.container{
    max-width: 1410px;
    margin: auto;
}
.offer__block{
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 32px;
   
}
.promo{
    padding-bottom: 51px;
    background: url(img/Vecto2.png) no-repeat center/cover;
}
.promo__title {
    position: relative;
    z-index: 1;
}
.promo__title::after {
    position: absolute;
    content: '';
    width: 730px;
    height: 640px;
    background: url(img/promo_block.png) no-repeat center/cover;
    top: -75px;
    right: -650px;
    z-index: -1;
}
.payment__block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #FF9900;
   
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}
.payment__text{
    padding-top: 12px;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}
.promo__title {
    max-width: 880px;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.promo__desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 14px;
}
.primary__color {
    color: #FF9900;
}
.return__money {
    max-width: 1410px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 20px;
}
.return__money__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.detailed {
    font-weight: bold;
}

.gift__block {
    margin-top: 11px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.gift__title__block {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}
.gift__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #D39254;
    margin-right: 20px;
}

.gift__content__block {
    display: flex;
    max-width: 770px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 49px;
}
.gift__content {
    margin-left: 50px;
    display: flex;
    max-width: 330px;
    width: 100%;
    justify-content: space-between;
}
.content__gift {
    margin-left: 50px;
    font-size: 24px;
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.gift__button__block {
    padding-bottom: 48px;
    padding-left: 39px;
}
.primary__button {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    border-radius: 30px;
    margin-right: 58px;
}
.primary__button::after{
    position: absolute;
    content: '';
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    width: 406px;
    height: 36px;
    top: 3px;
    left: 3px;
}
.gift__link {
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    color: #CD823B;
}
.reviews{
    margin-top: 30px;
    background: #FFFFFF url(img/Vecto2.png) no-repeat center/cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.manager__reviews__block{
    display: flex;
    padding-top: 50px;
}
.manager__block{
    width: 596px;
    height: 745px;
    margin-left: -192px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 38.59%), url(../img/image27.png) no-repeat center/cover;
}
.manager__block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
    padding: 0 112px;
    padding-top: 384px;
    
}
.manager__text{
    padding: 9px 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    margin-right: -87px;
}
.manager__titel{
    width: 220px;
    padding: 9px 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    margin-top: 5px;
    text-align: center;
    margin-right: -87px;
}
.reviews__text{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
    margin-left: -70px;
}
.positive__reviews{
    font-weight: bold;
}
.positive__reviews__text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}
.block__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 27px;
}
.reviews__block__card{
    width: 330px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 0 18px;
    padding-top: 23px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.guarantee{
    display: flex;
    align-items: center;
}
.guarantee__block{
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FF9900;
    margin-right: 20px;

}
.guarantee__text{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.cauldrons__block{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    padding-top: 13px;
    padding-bottom: 10px;
    max-width: 294px;
    
}
.warranty{
    color: #FF9900;
    text-align: center;
}
.installmentplan__slip{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.installmentplan__block__text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.installmentplan{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 80px;
}
.installmentplan__titel{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    margin-left: 10px;

}
.installmentplan__slip__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button__installmentplan{
    position: relative;
    padding: 10px 28px;
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    border-radius: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.button__installmentplan::after{
    position: absolute;
    content: '';
    width: 230px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    top: 3px;
    left: 3px;
    
}
.installmentplan__button__block{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.slip__text{
    margin-top: 10px;
}