*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    background: url(img/image18.png);
}
.container__block{
    max-width: 1500px;
    margin: auto;
}
.header__block{
    position: relative;
    z-index: 99;
    background:#ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 45%);
}
.header__line{
    display: flex;
    justify-content: space-around;
    
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #FF9900;
    max-width: 1440px;
    margin: auto;
}
.export{
    display: flex;
    text-decoration: none;
    align-content: center;
    align-items: center;
}
.export__line::before{
    content:'';
    height: 50px;
    border: 1px solid #FF9900;
}
.export__block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-right: 10px;
    margin-left: 35px;
}
.text__titel{
    font-size: 18px;
    
}
.export__text{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    
}
.export__img{
    width: 25px;
   
}
.phone{
    font-weight: bold;
}
.header__mene{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 18px 0;
}
.haeder__mene__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.img__mene{
    margin-right: 6px;
}
.img__mene__link{
    margin-left: 15px;
}
.orange{
    padding: 4px 17px;
    background: #FF9900;
    border-radius: 10px;
    color:#ffffff;
}
.offer{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.container{
    max-width: 1410px;
    margin: auto;
}
.offer__block{
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 32px;
   
}
.promo{
    padding-bottom: 51px;
    background: url(img/Vecto2.png) no-repeat center/cover;
}
.promo__title {
    position: relative;
    z-index: 1;
}
.promo__title::after {
    position: absolute;
    content: '';
    width: 730px;
    height: 746px;
    background: url(img/promo-block.png) no-repeat center/cover;
    top: -169px;
    right: -650px;
    z-index: -3;
}
.payment__block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #FF9900;
   
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}
.payment__text{
    padding-top: 12px;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}
.promo__title {
    max-width: 880px;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.promo__desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 14px;
}
.primary__color {
    color: #FF9900;
}
.return__money {
    max-width: 1410px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 20px;
}
.return__money__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.detailed {
    font-weight: bold;
}

.gift__block {
    margin-top: 11px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.gift__title__block {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}
.gift__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #D39254;
    margin-right: 20px;
}

.gift__content__block {
    display: flex;
    max-width: 770px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 49px;
}
.gift__content {
    margin-left: 50px;
    display: flex;
    max-width: 330px;
    width: 100%;
    justify-content: space-between;
}
.content__gift {
    margin-left: 50px;
    font-size: 24px;
    line-height: 150%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.gift__button__block {
    padding-bottom: 48px;
    padding-left: 39px;
}
.primary__button {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    border-radius: 30px;
    margin-right: 58px;
}
.primary__button::after{
    position: absolute;
    content: '';
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    width: 406px;
    height: 36px;
    top: 3px;
    left: 3px;
}
.gift__link {
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    color: #CD823B;
}
.reviews{
    margin-top: 30px;
    background: #FFFFFF url(img/Vecto2.png) no-repeat center/cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.manager__reviews__block{
    display: flex;
    padding-top: 50px;
}
.manager__block{
    width: 596px;
    height: 745px;
    margin-left: -192px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 38.59%), url(../img/image27.png) no-repeat center/cover;
}
.manager__block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
    padding: 0 112px;
    padding-top: 384px;
    
}
.manager__text{
    padding: 9px 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    margin-right: -87px;
}
.manager__titel{
    width: 220px;
    padding: 9px 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    margin-top: 5px;
    text-align: center;
    margin-right: -87px;
}
.reviews__text{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
    margin-left: -70px;
}
.positive__reviews{
    font-weight: bold;
}
.positive__reviews__text{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}
.block__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 27px;
}
.reviews__block__card{
    width: 330px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 0 18px;
    padding-top: 23px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.guarantee__card{
    display: flex;
    align-items: center;
}
.guarantee__block__cardk{
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FF9900;
    margin-right: 20px;

}
.guarantee__text{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.cauldrons__block{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    padding-top: 13px;
    padding-bottom: 10px;
    max-width: 294px;
    
}
.warranty{
    color: #FF9900;
    text-align: center;
}
.installmentplan__slip{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.installmentplan__block__text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.installmentplan{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 80px;
}
.installmentplan__titel{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    margin-left: 10px;

}
.installmentplan__slip__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button__installmentplan{
    position: relative;
    padding: 10px 28px;
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    border-radius: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.button__installmentplan::after{
    position: absolute;
    content: '';
    width: 230px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    top: 3px;
    left: 3px;
    
}
.installmentplan__button__block{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.slip__text{
    margin-top: 10px;
}
.counterfeits__block{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.counterfeits__block__text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
}
.counterfeits__orange {
    color: #FF4D00;
}
.counterfeits__text {
    margin-left: -30px;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
}
.counterfeits__title {
    padding-left: 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
}
.counterfeits__block__difference {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-top: 0;
}
.counterfeits__block__difference__description h4 {
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
}
.counterfeits__block__difference__description p {
    max-width: 600px;
    font-size: 18px;
    line-height: 120%;
}
.counterfeits__block__difference img:nth-of-type(2) {
    margin-left: -50px;
}
.counterfeits__block__difference img:last-of-type {
    margin-left: 100px;
}
.discount {
    background: #FF9900;
}
.discount__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 21px 75px;
}
.discount__block p {
    text-align: center;
    font-size: 48px;
}
.catalog__small__block{
    margin-top: 100px;
}
.catalog__block {
    display: flex;
    flex-direction: column;
}
.catalog__title {
    margin-top: 50px;
    font-size: 48px;
}
.catalog__advices {
    padding: 48px 176px;
}
.catalog__advices a {
    margin-right: 50px;
    font-size: 20px;
    color: #FF9900;
}
.catalog__small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 31px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
}
.catalog__small__icon {
    padding: 18px;
    border: 1px solid #FF9900;
    box-sizing: border-box;
    border-radius: 50%;
}
.catalog__small__text{
    font-style: normal;
    font-size: 24px;
    line-height: 120%;
}
.catalog__small__icon::after {
    position: absolute;
    content: '';
    background: #FF9900;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -40px;
    margin-top: -8px;
    z-index: -1;
}
.catalog__small p {
    margin-left: 22px;
}
.catalog__kazans__row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.catalog__kazan__card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.catalog__kazan__img {
    max-width: 301px;
    height: 200px;
    background: #C4C4C4;
    border-radius: 10px;
}
.catalog__kazan__card h5 {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 24px;
    text-align: center;
}
.catalog__kazan__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 43px;
    padding-bottom: 10px;
}
.catalog__kazan__info {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    border-radius: 10px;
    padding: 3px 10px;
}
.info__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 8px;
    
}
.info__row b {
    text-align: right;
}
.catalog__kazan__info__row{
    position: relative;
    display: flex;
    padding-left: 10px;
}
.catalog__kazan__info__row::after{
    position: absolute;
    content: '';
    background: #FF9900;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 3px;
    left: -5px;
}
.catalog__kazan__info__link{
    border-bottom: 1px solid #b7b7b77a;
}
.catalog__kazan__price{
    display: flex;
}
.price__text__eight{
    display: flex;
    text-decoration: line-through;
    text-decoration-color: crimson;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    
}
.catalog__kazan__price__text{
    width: 212px;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;

}
.catalog__kazan__price__title{
    background: #ffffff;
    display: flex;
    align-items: center;
    border: 1px solid #FF9900;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 229px;
    padding: 5px 14px;
    margin-left: -138px;
    margin-top: 10px;
}
.price__title__price{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
}
.price__title__seven{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    margin-right: 17px;
}
.catalog__kazan__buy__button__block{
    display: flex;
    justify-content: flex-start;
}
.catalog__kazan__buy__button{
    position: relative;
    padding: 10px 71px;
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    border-radius: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.catalog__kazan__buy__button::after{
    position: absolute;
    content: '';
    width: 203px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    top: 3px;
    left: 3px;
}
.catalog__kazan__buy{
    margin-top: 15px;
    margin-bottom: 15px;
}
.catalog__kazan__buy__img{
    position: relative;
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FF9900;
}
.catalog__kazan__buy__img::before{
    position: absolute;
    content: '+';
    background: #000000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog__kazan__buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counterfeits{
    background: url(img/Vecto2.png) no-repeat center/cover;
    padding-bottom: 100px;
}
.fon{
    background: url(img/Rectangle95.png) no-repeat center/cover;
    
}
.guarantee {
    margin-top: 80px;
    margin-bottom: 70px;
}
.guarantee__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guarantee__manager {
    display: flex;
    margin-top: 43px;
    margin-bottom: 98px;
}
.guarantee__title {
    font-weight: normal;
    font-family: 'Gilroy-reg';
    font-size: 48px;
    line-height: 120%;
    max-width: 1100px;
}
.guarantee__subtitle {
    font-family: 'Gilroy-reg';
    font-size: 18px;
    line-height: 120%;
}
.guarantee__manager__img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    width: 130px;
    height: 130px;
    margin-right: 57px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}
.guarantee__manager__img::before {
    position: absolute;
    content: '';
    width: 176px;
    height: 176px;
    border: 2px solid #FF9900;
    border-radius: 50%;
}
.guarantee__manager__name {
    max-width: 160px;
    font-size: 24px;
    line-height: 120%;  
    font-family: 'Gilroy-reg';
}

.guarantee__info__block {
    display: flex;
    justify-content: space-between;
}
.circle__block {
    margin-right: 25px;
    width: 146px;
    height: 146px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #FF9900;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}
.circle__block::before {
    position: absolute;
    content: '';
    width: 176px;
    border: 2px solid #FF9900;
    height: 176px;
    border-radius: 50%;
}
.cast-iron {
    font-family: 'Gilroy-reg';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50%;
    font-size: 36px;
    line-height: 120%;
}
.cast-iron__block {
    align-items: center;
    display: flex;
}
.cast-iron__desc {
    display: flex;
    font-family: 'Gilroy-reg';
    max-width: 373px;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}
.guarantee__info__block {
    display: flex;
    justify-content: space-between;
    max-width: 1465px;
    width: 100%;
}
.guarantee__card__text {
    max-width: 279px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.guarantee__card__desc {
    font-family: 'Gilroy-reg';
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.guarantee__WHAT {
    font-family: 'Gilroy-reg';
    text-decoration: none;
    font-size: 18px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #FF9900;
    margin-top: 10px;
}
.guarantee__info__card {
    display: flex;
    padding-bottom: 10px;
    align-items: flex-end;
    margin-bottom: 40px;
}
.guarantee__card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    position: relative;
    border: 2px solid #FF9900;
    border-radius: 50%;
}
.guarantee__card__img::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.guarantee__card__img-1::before {
    background: url(../img/guarantee/guarantee-1.png) no-repeat;
}
.guarantee__card__img-2::before {
    background: url(../img/guarantee/guarantee-2.png) no-repeat;
}
.guarantee__card__img-3::before {
    background: url(../img/guarantee/guarantee-3.png) no-repeat;
}
.guarantee__card__img-4::before {
    background: url(../img/guarantee/guarantee-4.png) no-repeat;
}
.guarantee__card__img-5::before {
    background: url(../img/guarantee/guarantee-5.png) no-repeat;
}
.guarantee__links__block {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
}
.guarantee__button {
    padding: 10px 3px;
    margin: auto;
}
.guarantee__link {
    font-family: 'Gilroy-reg';
    font-size: 18px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #FF9900;
    margin: auto;
    margin-top: 30px;
}
.primary__button_a{
    position: relative;
    padding: 7px 30px;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    border-radius: 30px;
}
.primary__button_a::after {
    position: absolute;
    content: '';
    width: 224px;
    height: 37px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    top: 3px;
    left: 3px;
}